{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  
  <div id="clock">
    <div id="hour">00</div>
    <div id="minutes">00</div>
    <div id="date"><span id="weekday"></span> <span id="month"></span> <span id="dat"></span></div>
    <style
           body{
  background: url(http://lorempixel.com/g/1920/1200/cats/) no-repeat bottom right fixed #2F2E2F;
  background-size: cover;
}
  #clock{
    color: blue;
    font-family: 'Helvetica', 'Verdana', 'Arial', sans-serif;
    font-size: 7.2rem;
    text-align: center;
    float: right;
    position: absolute;
    bottom: 2.4rem;
    right: 3.2rem;
    #hour, #minutes{
      padding: 0;
      margin: 0;
      text-align: center;
      line-height: 90%;
    }
    #minutes{
      clear: left;
    }
    #date{
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid white;
      padding: .3rem 0;
      margin-top: .3rem;
    }
    
  }
@media screen and (max-width: 800px){
  #clock{
    font-size: 4.8rem;
    #date{
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
  
}
@media screen and (max-width: 640px){
  body{
    background-image: url(http://lorempixel.com/g/600/600/cats/)
  }
  #clock{
    font-size: 2.4rem;
    border: 1px solid white;
    padding: 1rem;
    #hour, #minutes{
      float: left;
      clear: none;
    }
    #hour::after{
      content: ':';
    }
    #date{
      border: 0px solid white;
      line-height: 100%;
      padding: .3rem 0;
      margin-bottom: -.25rem;
    }
  }
}
@media screen and (max-width: 640px){
  #clock{
    right: 1.6rem;
    bottom: 3rem;
  }
}></style>
    <script
            var short_months = ['Oca', 'Sub', 'Mar', 'nis', 'May', 'Haz', 'Tem', 'Aus', 'Eyl', 'Eki', 'Kas', 'Ara'];
var week_day = ['Pzr', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt'];
function setTime() {
  var d = new Date();
  var h = d.getHours();
  var m = d.getMinutes();
  var mon = d.getMonth();
  var dat = d.getDate();
  var weekday = d.getDay();
  
  h = h < 10 ? '0' + h : h ;
  m = m < 10 ? '0' + m : m ;
  dat = dat < 10 ? '0' + dat : dat ;
  document.getElementById('hour').innerText = h;
  document.getElementById('minutes').innerText = m;
  document.getElementById('month').innerText = short_months[mon];
  document.getElementById('dat').innerText = dat;

document.getElementById('weekday').innerText = week_day[weekday];

}
setTime();
var set_time = window.setInterval(setTime, 10000);>
    </script>
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
</div>
